# Pandas
#### Python 에서 엑셀 같은 표준 라이브러리

In [1]:
import pandas as pd

file='test.xlsx'
xl=pd.ExcelFile(file)
df=xl.parse('Sheet1')

print(df)

   name  kor  eng  mat
0     A   80   80   80
1     B  100   80   80
2     C   80  100   55
3     D   80   80   80
4     E   80   55   55
5     F   55   80   80
6     G   80   80   80
7     H   55   80  100
8     I   80   80   80
9     J   80   80  100
10    K   80   80   80
11    L   47   80   80
12    M   80   80   80
13    N  100   80   55
14    O   80   80  100

In [2]:
df.shape   # print 쓰면 out[2] 표시 안됨

(15, 4)

In [4]:
print(df.columns)

Index(['name', 'kor', 'eng', 'mat'], dtype='object')

In [5]:
for index, row in df.iterrows(): #df.iterrows(): rows 반복문
    name=row[0]
    kor=row[1]
    eng=row[2]
    mat=row[3]
print(eng)

80

In [6]:
name=[]
kor=[]
eng=[]
mat=[]
for index, row in df.iterrows(): #df.iterrows(): rows 반복문
    name.append(row[0])
    kor.append(row[1])
    eng.append(row[2])
    mat.append(row[3])

print(name)
print(kor)
print(eng)
print(mat)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']
[80, 100, 80, 80, 80, 55, 80, 55, 80, 80, 80, 47, 80, 100, 80]
[80, 80, 100, 80, 55, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80]
[80, 80, 55, 80, 55, 80, 80, 100, 80, 100, 80, 80, 80, 55, 100]

In [11]:
from pandas import DataFrame

raw_data={
    'name':name,
    'kor':kor,
    'eng':eng,
    'mat':mat
}

data=DataFrame(raw_data)
print(data)

df.to_excel('test2.xlsx',sheet_name='Sheet2.xls',encoding='utf-8')

   name  kor  eng  mat
0     A   80   80   80
1     B  100   80   80
2     C   80  100   55
3     D   80   80   80
4     E   80   55   55
5     F   55   80   80
6     G   80   80   80
7     H   55   80  100
8     I   80   80   80
9     J   80   80  100
10    K   80   80   80
11    L   47   80   80
12    M   80   80   80
13    N  100   80   55
14    O   80   80  100

In [21]:
import pandas as pd

phone={'톰':4358382, 'jack':9465215, 'jim':6851325, 'Joseph':6584321}
list1=['string', 1234, 0.2345]
Tuple=(phone,list1)            #리스트, 튜플,사전의 복합 객체

f = open('pickle.txt', 'w', encoding='utf-8')    
f.write(str(Tuple))
f.close()

#=============================
f = open('pickle.txt',"r", encoding='utf-8')
print(f.read())

({'톰': 4358382, 'jack': 9465215, 'jim': 6851325, 'Joseph': 6584321}, ['string', 1234, 0.2345])

# 함수

In [15]:
#피보나치 수열을 구함
n=1
def fibonacci(n):
    if n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(5))

5

In [16]:
t1 = ()      # 비어있는 튜플
t2 = (1,2,3) # 괄호 사용

t3 = 1,2,3   # 괄호가 없어도 튜플이 됨
print(type(t1), type(t2), type(t3))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [17]:
r1 = (1,) # 자료가 한 개일 때는 반드시 콤마가 있어야 한다.
r2 = 1,   # 괄호는 없어도 콤마는 있어야 한다.
print(type(r1))
print(type(r2))

<class 'tuple'>
<class 'tuple'>

In [18]:
t = (1, 2, 3)
print(t * 2)                  # 반복
print(t + ('PyKUG', 'users'))  # 연결
print(t)
print()

print(t[0], t[1:3])            # 인덱싱, 슬라이싱
print(len(t))                  # 길이
print(1 in t)                  # 멤버십 테스트

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 'PyKUG', 'users')
(1, 2, 3)

1 (2, 3)
3
True

In [19]:
x, y, z = 1, 2, 3 # 튜플을 이용한 복수 개의 자료 할당
print(type(x), type(y), type(z))
print(x)
print(y)
print(z)

<class 'int'> <class 'int'> <class 'int'>
1
2
3

In [1]:
T = (1, 2, 3, 4, 5)
L = list(T)
print(L)
L[0] = 100
print(L)

T = tuple(L)
print(T)
print(type(L))
print(type(T))

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
(100, 2, 3, 4, 5)
<class 'list'>
<class 'tuple'>

In [2]:
def calc(a,b):
    return a+b, a*b
print(calc(5,4))

x,y=(5,4)
print(x,y)

(9, 20)
5 4

In [3]:
print(set())                         # 빈 set 객체 생성
print(set([1, 2, 3, 4, 5]))         # 초기 값은 일반적으로 시퀀스 자료형인 리스트를 넣어준다.
print(set([1, 2, 3, 2, 3, 4]))      # 중복된 원소는 한 나만 저장됨
print(set('abc'))                  # 문자열은 각 문자를 집합 원소로 지닌다.  
print(set([(1, 2, 3), (4, 5, 6)]))  # 각 튜플은 원소로 가질 수 있음 
#print(set([[1, 2, 3], [4, 5, 6]]))  # 변경 가능 자료인 리스트는 집합의 원소가 될 수 없다.

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{'b', 'c', 'a'}
{(4, 5, 6), (1, 2, 3)}

In [4]:
member = {'basketball': 5, 'soccer': 11, 'baseball': 9}
member['volleyball'] = 7 # 새로운 아이템 설정
member['volleyball'] = 6 # 변경
print(member)
print(len(member))        # 아이템의 개수 반환

{'basketball': 5, 'soccer': 11, 'baseball': 9, 'volleyball': 6}
4

In [5]:
member = {'basketball':5, 'soccer':11, 'baseball':9}
del member['basketball'] # 항목 삭제
print(member)

{'soccer': 11, 'baseball': 9}

In [6]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

action = {0: add, 1: sub}   # 함수 이름을 사전의 값으로 사용
print(action[0](4, 5))
print(action[1](4, 5))

9
-1

In [7]:
action2 = {add: 1, sub: 2}  # 함수 이름을 사전의 키로 사용
print(action2[add])

1

In [8]:
#사전 만들기
d = dict()
print(type(d))
print()

print(dict(one=1, two=2))
print(dict([('one', 1), ('two', 2)]))
print(dict({'one':1, 'two':2}))

<class 'dict'>

{'one': 1, 'two': 2}
{'one': 1, 'two': 2}
{'one': 1, 'two': 2}

In [9]:
d={'one':1}
print(d['one'])

1

In [10]:
keys = ['one', 'two', 'three']
values = (1, 2, 3)
print(zip(keys, values)) 
print(dict(zip(keys, values)))

<zip object at 0x00000180B0508FC8>
{'one': 1, 'two': 2, 'three': 3}

In [11]:
# 사전 메서드 : keys() , values(), items() 
phone = {'jack': 9465215, 'jin': 1111, 'Joseph': 6584321}

print(phone.keys()) 
print(phone.values()) 
print(phone.items())
print()
print('jack' in phone) # 'jack'이 phone의 키에 포함되어 있는가?
print('lee' in phone)

dict_keys(['jack', 'jin', 'Joseph'])
dict_values([9465215, 1111, 6584321])
dict_items([('jack', 9465215), ('jin', 1111), ('Joseph', 6584321)])

True
False

In [12]:
phone = {'a': [1,2,3], 'b': 4}
phone2 = phone.copy()
print(phone)
print(phone2)
print()

phone['b'] = 100
print(phone)
print(phone2)
print()

phone['a'][0] = 100
print(phone)
print(phone2)

{'a': [1, 2, 3], 'b': 4}
{'a': [1, 2, 3], 'b': 4}

{'a': [1, 2, 3], 'b': 100}
{'a': [1, 2, 3], 'b': 4}

{'a': [100, 2, 3], 'b': 100}
{'a': [100, 2, 3], 'b': 4}

In [13]:
ph = {'jack': 9465215, 'jin': 1111, 'Joseph': 6584321}

print(ph.get('jack'))  # 'jack'에 대한 값을 얻는다. ph['jack']과 같다.
print(ph.get('gslee')) # 'gslee'에 대한 값을 얻는다. 값이 없는 경우 None반환

9465215
None

In [14]:
D = {'a':1, 'b':2, 'c':3}
for key in D.keys():
    #print(key, D[key])
    print(key)
    
for key in D.values():
    print(key)

for key in D.items():
    print(key)

a
b
c
1
2
3
('a', 1)
('b', 2)
('c', 3)

In [15]:
L=['1','1','2','3','1','4','4','2','4','1','3']
L2=set(L)
dic={}
for i in L2:
    cnt=0
    for j in L:
        if(i==j):
            cnt +=1
            dic[i]=cnt
print(dic)

{'1': 4, '2': 2, '4': 3, '3': 2}

In [16]:
#로또 난수번호 생성
import random
lotto = []
while(len(lotto) < 6 ):
    lotto = set([random.randrange(1, 46, 1) for k in range(6)])
    
#print(sorted(lotto))
print(lotto)

{32, 34, 35, 11, 12, 16}

In [17]:
L = []
while(1):
    if (len(L) == 6):
        break
    tmp_num = random.randrange(1,46,1)
    if (tmp_num not in L):
        L.append(tmp_num)
print(sorted(L))

[19, 21, 27, 28, 36, 37]

In [18]:
def incr(a, step=1):
    return a + step

b = 1
b = incr(b)     # 1 증가
print(b)

b = incr(b, 10) # 10 증가
print(b)

2
12

In [19]:
def incr(a, step=1, step2=10):
    return a+step+step2

print(incr(step=10, a=20, step2=30))

60

In [20]:
def h(a, b, c):
    print(a,b,c)
    
args = (1, 2, 3)
h(*args)

1 2 3

In [22]:
def h(a, b, c):
    print(a,b,c)
    
dargs = {'a':1, 'b':2, 'c':3}
h(dargs['a'],dargs['b'],dargs['c'])
h(**dargs)

1 2 3
1 2 3

In [23]:
f = lambda x: x + 1
print(f(1))

def f2(x):
    return x+1
print(f2(1))

2
2

In [24]:
g = lambda x, y: x + y
print(g(1, 2))

3

In [25]:
def f1(x):
    return x*x + 3*x - 10

def f2(x):
    return x*x*x

def g(func):
    return [func(x) for x in range(-10, 10)]

print(g(f1))
print(g(f2))

[60, 44, 30, 18, 8, 0, -6, -10, -12, -12, -10, -6, 0, 8, 18, 30, 44, 60, 78, 98]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
#Lambda 
def g(func):
    return [func(x) for x in range(-10, 10)]

print(g(lambda x: x*x + 3*x - 10))
print(g(lambda x: x*x*x))

[60, 44, 30, 18, 8, 0, -6, -10, -12, -12, -10, -6, 0, 8, 18, 30, 44, 60, 78, 98]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [28]:
func_list = [
    lambda x, y: int(x) + int(y), 
    lambda x, y: int(x) - int(y), 
    lambda x, y: int(x) * int(y), 
    lambda x, y: int(x) / int(y)
]

In [29]:
def f(x):
    return x * x

X = [1, 2, 3, 4, 5]
m = map(f, X)
print(type(m))

<class 'map'>

In [30]:
X = [1, 2, 3, 4, 5]
print(tuple(map(lambda x: x * x ,X)))

(1, 4, 9, 16, 25)

In [31]:
X = [1, 2, 3, 4, 5]
print(tuple(map(f,X)))

def f(x):
    return x*x

(1, 4, 9, 16, 25)

In [32]:
y = tuple(map(lambda x: len(x), ["Hello", "Python", "Programming"]))
print(y)

(5, 6, 11)

In [40]:
X=["Hello", "Python", "Programming"]
print(tuple((f,X)))

def f(x):
    return len(x)

(<function f at 0x00000180B059E9D8>, ['Hello', 'Python', 'Programming'])

In [36]:
print(tuple(filter(lambda x: x % 2, [1, 2, 3, 4, 5, 6])))

(1, 3, 5)

In [38]:
y=[1, 2, 3, 4, 5, 6]
print((f, y))

def f(y):
    return (y%2==0)

(<function f at 0x00000180B059E620>, [1, 2, 3, 4, 5, 6])

In [41]:
x=[1,2,3,4,5,6,7,8,9,10]
def f(x):
    if (x%3==0):
        return str(x)
    else:
        return x
     
arr=[]
for i in x:
    arr.append((f(i)))

#print(arr)


print(list(map(lambda x:str(x) if x%3==0 else x, x)))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [42]:
def f(x):
    return str(x)
     
arr=[]
for i in [1,2,3,4,5,6,7,8,9,10]:
    if (i%3==0):
        arr.append(f(i))
    else:
        arr.append(i)

print(arr)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [43]:
print(tuple(filter(lambda x: x%3==0, [1,2,3,4,5,6,7,8,9,10])))

(3, 6, 9)

In [44]:
x = 2
def F():
    x = 1
    def G():
        x = 20
        print("G():", x)
    G()
    print("F():", x)
F()
print("Global:", x)

G(): 20
F(): 1
Global: 2

In [45]:
import abc

print(add(4,5))

9